* {
	font-family: 'Amatic SC', cursive;
}
html {
	background: url("photos/game_background.jpg") no-repeat center center fixed;
	background-size: cover;
}
/*home button*/
#home {
	width: 150px;
	font-size: 40px;
	text-align: center;
	font-weight: bolder;
}
/*wrapper for Score*/
.score {
	font-size: 40px;
	color: white;
	width: 45%;
	float: left;
}
/*Label for the Score*/
#qty {
	font-size: 40px;
	width: 100px;
	text-align: center;
	font-weight: bolder;
}

/*wrapper for timer*/
.timer {
	font-size: 40px;
	color: white;
	width: 45%;
	float: left;
	text-align: right;
}

/*label for timer*/
#time {
	font-size: 40px;
	width: 100px;
	text-align: center;
	font-weight: bolder;
}

/*Level 1*/
h1 {
	float: left;
	font-size: 60px;
	color: white;
	margin: 0 auto;
}

#board {
	clear: both;
	height: auto;
	width: 80%;
	margin: 10% 10% 0 10%;
	display: block;
}

#screen {
	height: 500px;
}

/*recepticle*/
#can {
	width: 10%;
	height: auto;
	margin-left: 45%;
	position: absolute;
	margin-top: 0%;
}

/*each piece of falling trash*/
div.trash {
	background: url("photos/beer_can.png") no-repeat center center;
	background-size: 30px 60px;
	height: 60px;
	width: 30px;
}

/*pop up messages*/
div.message {
	color: white;
	font-size: 80px;
	text-align: center;
	padding-top: 4%;
	font-weight: bold;
}

/*animation for messages*/
@keyframes fade {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100% {
		opacity: 0;
		display: none;
	}
}

/*activates message animation*/
.fade {
	animation-name: fade;
	animation-duration: 5s;
	animation-delay: 0s;
}

/*animation for dropping trash*/
@keyframes drop {
	0% {
		position: absolute;
		/*top: 10%; */
		margin-top: 0px;
	}
	100% {
		position: absolute;
		/*top: 100%;*/
		margin-top: 500px;
		display: none;
	}
}

/*activates drop animation*/
.animated {
	animation-name: drop;
	animation-duration: 5s;
	animation-delay: 0s;
	animation-timing-function: linear;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
	text-align: center;
}

.loseButton {
	font-size: 28px;
}
.winButton {
	font-size: 28px;
}
