* {
	font-family: 'Amatic SC', cursive;
}
html {
	background: url("photos/game_background.jpg") no-repeat center center fixed;
	background-size: cover;
}
/*wrapper for Score*/
.score {
	font-size: 40px;
	color: white;
	width: 45%;
	float: left;
}
/*Label for the Score*/
#qty {
	font-size: 40px;
	width: 100px;
	text-align: center;
	font-weight: bolder;
}
/*Level 1*/
h1 {
	float: left;
	font-size: 60px;
	color: white;
	margin: 0 auto;
}
#board {
	clear: both;
	height: auto;
	width: 80%;
	margin: 10% 10% 0 10%;
	display: block;
}
#screen {
	height: 500px;
/*	border: 1px solid blue;*/
}
#can {
	height: 150px;
	margin-left: 45%;
	position: absolute;
	margin-top: -5%;
}
/*each piece of falling trash*/
.trash {
	height: 40px;
	width: 40px;
	background-color: red;
	color: white;
	text-align: center;
	padding-top: auto auto;
	border-radius: 20px;
}
/*animation for dropping trash*/
@keyframes drop {
	0% {
		position: absolute;
		/*top: 10%; */
		margin-top: 0px;
	}
	100% {
		position: absolute;
		/*top: 100%;*/
		margin-top: 500px;
		display: none;
	}
}
/*activates animation*/
.animated {
	animation-name: drop;
	animation-duration: 5s;
	animation-delay: 0s;
	animation-timing-function: linear;
}
